@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700;800&display=swap');

/* Root Variables */
:root,
::before,
::after {
  /* Font */
  --font-color-main: rgb(182, 149, 109);
  --font-color-secondary: rgb(163, 143, 119);
  --font-color-tertiary: rgb(237, 234, 239);
  /* Background */
  --bg-color-main: rgb(19, 19, 19);
  --bg-color-secondary: rgba(5,6,1,255);
  --bg-color-tertiary: rgb(250, 250, 250, 0.72);
  /* General Colour */
  --color-darkest: rgb(24, 24, 27);
  --color-darkest-half: rgb(24, 24, 27, 0.5);
  --color-darker: rgb(39 39 42);
  --color-darker-half: rgba(39, 39, 42, 0.5);
  --color-dark: rgb(63 63 70);
  --color-dark-half: rgba(63, 63, 70, 0.5); 
  --color-semidark: rgb(82 82 91);
  /* Padding */
  --padding-outer: 2rem;
  /* Large Screen Limit */
  --max-width: 1366px;
  /* Animation */
  --rounded: cubic-bezier(.25,.45,.45,.94);
}
/* Root Variabels */

/* General Declaring */
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
  text-decoration: none;
  list-style: none;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: -webkit-linear-gradient(
    var(--bg-color-main),
    transparent
  );
}
html::-webkit-scrollbar-thumb {
  background: -webkit-linear-gradient(
    var(--bg-color-main),
    transparent
  );
  border-radius: 0.5rem;
}
body {
  overflow-x: hidden;
  color: var(--font-color-tertiary);
}
/* General Declaring */

/* Others */
.btn {
  border: 2px solid var(--font-color-main);
  border-radius: 2rem;
  background-color: transparent;
  color: var(--font-color-main);
  transition: transform 200ms ease-out, color 200ms var(--rounded),
    background-color 200ms var(--rounded), 
    border-color 200ms var(--rounded);
  cursor: pointer;
}
.btn-submit {
  background-color: var(--color-semidark);
  border-color: var(--color-semidark);
  padding: 0.5rem 1rem;
  color: var(--font-color-main);
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 300ms var(--rounded);
}
.btn-submit:hover {
  background-color: var(--font-color-tertiary);
  border-color: var(--font-color-tertiary);
}
.btn-submit-sm {
  background-color: var(--color-semidark);
  border-color: var(--color-semidark);
  padding: 0.5rem 1rem;
  color: var(--font-color-main);
  font-weight: 500;
  transition: background-color 300ms var(--rounded);
}
.btn-submit-sm:hover {
  background-color: var(--font-color-tertiary);
  border-color: var(--font-color-tertiary);
}
.btn-reset {
  background-color: var(--color-darkest);
  border-color: var(--color-darkest);
  padding: 0.5rem 1.5rem;
  color: var(--bg-color-secondary);
  font-size: 1.5rem;
  font-weight: 500;
  transition: background-color 300ms var(--rounded);
}
.btn-reset:hover {
  background-color: var(--color-darker);
  border-color: var(--color-darker);
}
.btn-to-top {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  border: 0;
  height: 3.5rem;
  width: 3.5rem;
  z-index: 30;
  background-color: var(--font-color-main);
  font-size: x-large;
  border-radius: 50%;
  transition: background-color 300ms var(--rounded),
    transform 300ms var(--rounded);
}
.btn-to-top a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-color-tertiary);
}
.btn-to-top:hover {
  background-color: var(--font-color-secondary);
}
.btn-to-top-off {
  transform: translate(200%, 0);
}
.btn-cancel {
  padding: 0.3rem;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  aspect-ratio: 1 / 1;
  background-color: transparent;
  border-color: var(--font-color-tertiary);
}
.btn-cancel:hover {
  background-color: var(--font-color-tertiary);
  border-color: var(--font-color-main);
}

/* Loading */
/* Sementara */
.loading-screen {
  display: none;
}

/* .loading-screen {
  position: fixed;
  z-index: 999;
  background-color: var(--color-darkest-half);
  backdrop-filter: blur(80px);
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes hide-loading-screen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.1;
  }
}

@keyframes spinning-burger {
  100% {
    transform: rotate(360deg);
  }
}

.loading-screen-spinning-burger {
  font-size: 6rem;
  font-weight: 700;
  color: var(--color-tertiary);
  animation: spinning-burger 2s infinite linear;
} */

/* Loading */

/* Navbar */
.navbar-wrapper {
  background-color: var(--color-darker-half);
  backdrop-filter: blur(8px);
  padding: 1rem 1rem;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 90;
}
.navbar-content {
  max-height: 75px;
  width: var(--max-width);
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}
.navbar-logo img {
  width: 5.7rem;
  height: auto;
}
.navbar-menu-toggle {
  display: none;
  border: 0;
}
.navbar-list {
  text-transform: uppercase;
  display: flex;
  gap: 2rem;
}
.links {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: var(--font-color-main);
  transition: color 100ms var(--rounded);
}
.links:hover {
  cursor: pointer;
  background-color: var(--font-color-main);
  color: var(--font-color-tertiary);
  border-radius: 1rem;
}
.navbar-icon {
  cursor: pointer;
  font-size: 1.2rem;
  display: flex;
  column-gap: 2rem;
}
.navbar-icon .fa-solid {
  color: var(--font-color-main);
}
.navbar-icon .fa-solid:hover {
  color: var(--font-color-tertiary);
}
.search-box {
  width: 97%;
  position: absolute;
  top: -100%;
  left: 53%;
  transform: translate(-50%);
  background: var(--bg-color2);
}
.search-box.active {
  top: 110%;
}
.search-box input {
  width: 97%;
  font-size: 16px;
  font-weight: 300;
  outline: none;
  padding: 10px 15px;
  color: var(--bg-color-main);
  border: 2px solid var(--font-color-main);
  border-radius: 0.5rem;
}
.search-box input::placeholder {
  font-size: 16px;
  font-weight: 300;
  color: var(--bg-color-main);
}
/* Navbar */

/* Home */
.home-wrapper {
  width: var(--max-width);
  box-sizing: border-box;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    url("../assets/background.jpg");
  padding: 3rem var(--padding-outer);
  top: 0;
  left: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: border-box;
  position: absolute;
}

.home-wrapper::after {
  position: absolute;
  content: "";
  inset: 60% 0 0 0;
  background: linear-gradient(transparent, var(--color-darkest));
}

.home-content {
  width: 43%;
  font-weight: 700;
  padding-inline: var(--padding-outer);
  height: 100vh;
}

.home-title {
  margin: 7rem 0 2rem 0;
  font-size: 3rem;
  color: var(--font-color-main);
}
.home-subtitle {
  font-size: 1.03rem;
  font-weight: 300;
  margin-bottom: 4rem;
  color: var(--color-secondary);
}
.home-btn {
  color: var(--font-color-main);
  border-color: var(--font-color-tertiary);
  padding: 1rem 1.5rem;
  font-weight: 500;
}
.home-btn:hover {
  color: var(--font-color-tertiary);
  background-color: var(--font-color-main);
  border-color: var(--font-color-main);
}
/* Home */

/* MAIN WRAPPER CODE */
.content {
  width: var(--max-width);
  background-color: var(--color-darkest);
}
/* END OF MAIN WRAPPER CODE */

/* SITE SECTION CODE */
.site-section {
  max-width: var(--max-width);
  height: 100vh;
  margin-inline: auto;
  padding-inline: 0;
  padding-block: 5rem;
}

.site-section-headings {
  color: var(--font-color-main);
  position: relative;
  margin-bottom: 1rem;
  font-size: 2rem;
  text-decoration: overline;
}

.site-section-paragraphs {
  text-align: justify;
  padding-right: 1rem;
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 1rem;
  color: var(--color-tertiary);
}
/* END OF SITE SECTION CODE */

/* SITE SECTION ABOUT CODE */
section#aboutus {
  position: relative;
  top: 120vh;
  background:transparent;
  z-index: 0;
}
#aboutus .site-section {
  display: flex;
  flex-basis: 2;
  flex-direction: row;
  text-align: start;
  background-color: var(--bg-color-main);
  left: 0;
  gap: 3rem;
}
#aboutus .site-section::after {
  position: absolute;
  content: "";
  inset: 80% 0 0 0;
  background: linear-gradient(transparent, var(--color-darker));
}
#aboutus .site-section-detail {
  gap: 2rem;
  padding-right: 1rem;
}
#aboutus .site-section-banner img {
  width: 700px;
  border-radius: 2rem;
  box-shadow: 0px 0px 8px 8px var(--color-darker);
}
/* END SITE SECTION ABOUT CODE */

/* SITE SECTION MENU CODE */
section#menu {
  position: relative;
  top: 120vh;
  background:var(--color-darker);
  z-index: 0;
}
#menu {
  text-align: end;
}
#menu .menu-content {
  display: flex;
  left: 0;
  width: var(--max-width);
  min-height: 100vh;
  flex-direction: column;
  background-color: var(--color-darker);
  gap: 1rem;
}
#menu .picks {
  display: flex;
  min-height: 30rem;
  margin-top: 2rem;
  gap: 1rem;
  text-align: start;
}
#menu .picks-item {
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
  border-radius: 1rem;
  justify-content: flex-end;
  padding: 1.5rem;
  flex-basis: 70%;
  flex-grow: 1;
}

#menu .picks-item-sm {
  padding: 1rem;
}

#menu .picks-runner-ups {
  flex-basis: 45%;
  display: flex;
  gap: 1.2rem;
  flex-direction: column;
}

.picks-item-title {
  font-size: 3rem;
  color: var(--font-color-main);
  font-weight: 700;
}

.picks-item-desc {
  font-size: 1rem;
  font-weight: 300;
  color: var(--font-color-tertiary);
}

.picks-item-price {
  font-weight: 500;
  font-size: 2.25rem;
  color: var(--font-color-secondary);
}

.picks-item-sm .picks-item-title {
  font-size: 2rem;
  color: var(--font-color-main);
  font-weight: 700;
}

.picks-item-sm .picks-item-desc {
  font-size: 1rem;
  color: var(--font-color-tertiary);
}

.picks-item-sm .picks-item-price {
  font-weight: 500;
  font-size: 1.75rem;
  color: var(--font-color-secondary);
}

.menu-list-wrapper {
  position: relative;
}

.menu-prev-btn,
.menu-next-btn {
  position: absolute;
  height: 3.5rem;
  width: 3.5rem;
  font-size: larger;
  transform: translateY(-50%);
  top: 50%;
  z-index: 10;
}

.menu-prev-btn {
  left: 0%;
}

.menu-next-btn {
  right: 0%;
}

.menu-list-wrapper::before {
  content: "";
  position: absolute;
  inset-block: 0;
  inset-inline: 0 97%;
  background: linear-gradient(270deg, transparent, var(--color-darkest));
}

.menu-list-wrapper::after {
  content: "";
  position: absolute;
  inset-block: 0;
  inset-inline: 97% 0;
  background: linear-gradient(90deg, transparent, var(--color-darkest));
}

.menu-list {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  gap: 1rem;
  margin-top: 2rem;
}

.menu-card {
  box-shadow: 1px 1px 8px 3px var(--color-darker);
  display: flex;
  scroll-snap-align: center;
  flex-direction: column;
  justify-content: flex-end;
  text-align: start;
  gap: 1.2rem;
  padding: 1rem;
  border-radius: 1rem;
  overflow: clip;
  width: 20rem;
  height: 25rem;
}

.menu-card-detail {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.menu-card-title {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--font-color-main);
}

.menu-card-desc {
  font-weight: 300;
  font-size: 0.9rem;
  color: var(--color-tertiary);
}

.menu-card-price {
  color: var(--font-color-secondary);
  font-size: 1.5rem;
}

/* END OF SITE SECTION MENU CODE */

/* SITE SECTION BUY CODE */
section#order {
  position: relative;
  top: 240vh;
  background:transparent;
  z-index: 0;
}
#order {
  background: url("../images/pattern.png");
  text-align: center;
  position: relative;
}

#order::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

#order .site-section-headings {
  position: relative;
  z-index: 10;
}

/* END OF SITE SECTION BUY CODE */

/* ORDERS CODE */
.orders-wrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
  position: relative;
  z-index: 10;
  margin-top: 2rem;
}

.orders {
  flex-basis: 65%;
  text-align: start;
}

.orders-list {
  position: relative;
  margin-top: 0.5rem;
  background-color: var(--color-darker);
  border-radius: 1rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 20rem;
  overflow-y: auto;
}

.orders-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--color-dark);
  padding: 1rem;
  border-radius: 0.5rem;
}

.orders-empty {
  width: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 8px 0px var(--color-darker-half);
  background-color: var(--color-dark);
}

.orders-empty-title {
  font-size: large;
  font-weight: 700;
  color: var(--color-secondary);
}

.orders-empty-desc {
  font-size: small;
  color: var(--color-tertiary);
}

.orders-empty-desc em {
  font-weight: 700;
}

.orders-img {
  height: 4.5rem;
  width: 4.5rem;
  object-fit: cover;
  border-radius: 0.25rem;
  box-shadow: 1px 1px 6px 1px var(--color-darker-half);
}

.orders-detail {
  display: flex;
  flex-direction: column;
  flex-grow: 8;
  align-items: flex-start;
}

.orders-name {
  color: var(--color-secondary);
  font-weight: 700;
  font-size: x-large;
}

.orders-price {
  font-size: larger;
  color: var(--color-tertiary);
}

.orders-btn-group {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* END OF ORDERS CODE */

/* FOOTER CODE */
.footer-wrapper {
  background-color: var(--color-darker);
}

.footer-content {
  max-width: var(--max-width);
  margin-inline: auto;
  padding: 4rem var(--padding-outer);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
}

.footer-headings {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.footer-item-title {
  margin-bottom: 1.5rem;
  font-size: x-large;
  font-weight: 700;
  color: var(--color-main);
}

.footer-navlist {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-navlist .link {
  padding: 0.2rem 0rem;
  width: 50%;
  display: inline-block;
}

.footer-address h3 {
  color: var(--color-secondary);
}

.footer-address div {
  display: flex;
  flex-direction: column;
  color: var(--color-tertiary);
}

.footer-footer {
  color: var(--color-tertiary);
  text-align: center;
}

.footer-map-wrapper {
  flex-basis: 50%;
}

.footer-map {
  border-radius: 1rem;
  border: 0;
  width: 100%;
  height: 20rem;
}

/* END OF FOOTER CODE */

/* PROFILE CODE */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-start-end-radius: 1rem;
  border-end-end-radius: 1rem;
  z-index: 30;
  position: fixed;
  background-color: var(--color-dark-half);
  backdrop-filter: blur(8px);
  color: var(--color-secondary);
  top: 50%;
  padding: 1.8rem;
  transform: translate(-95%, -50%);
  transition: transform 500ms var(--ini-baru-keren);
}

.profile img {
  border-radius: 50%;
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  object-position: center;
}

.profile-detail-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.profile-showing {
  transform: translate(0%, -50%);
}

.profile-detail {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile-detail span {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  align-self: flex-start;
}

.profile-detail span a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  align-self: flex-start;
}

.profile-detail-wrapper .btn {
  position: absolute;
  right: -3.5rem;
  width: 2.5rem;
  height: 2.5rem;
  font-size: large;
  top: 50%;
  transform: translate(0, -50%);
}