@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500;700;800&display=swap');

/* Root Variables */
:root,
::before,
::after {
  /* Font */
  --font-color-main: rgb(182, 149, 109);
  --font-color-secondary: rgb(163, 143, 119);
  --font-color-tertiary: rgb(237, 234, 239);
  /* Background */
  --bg-color-main: rgb(19, 19, 19);
  --bg-color-secondary: rgb(250, 250, 250, 0.72);
  /* General Colour */
  --color-darkest: rgb(24, 24, 27);
  --color-darkest-half: rgb(24, 24, 27, 0.5);
  --color-darker: rgb(39 39 42);
  --color-darker-half: rgba(39, 39, 42, 0.5);
  --color-dark: rgb(63 63 70);
  --color-dark-half: rgba(63, 63, 70, 0.5); 
  --color-semidark: rgb(82 82 91);
  /* Padding */
  --padding-outer: 2rem;
  /* Large Screen Limit */
  --max-width: 1366px;
  /* Animation */
  --rounded: cubic-bezier(.25,.45,.45,.94);
}
/* Root Variabels */

/* General Declaring */
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
  text-decoration: none;
  list-style: none;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: -webkit-linear-gradient(
    var(--bg-color-main),
    transparent
  );
}
html::-webkit-scrollbar-thumb {
  background: -webkit-linear-gradient(
    var(--bg-color-main),
    transparent
  );
  border-radius: 0.5rem;
}
body {
  overflow-x: hidden;
  color: var(--font-color-tertiary);
}
/* General Declaring */

/* Others */
.btn {
  border: 2px solid var(--font-color-main);
  border-radius: 2rem;
  background-color: transparent;
  color: var(--font-color-main);
  transition: transform 200ms ease-out, color 200ms var(--rounded),
    background-color 200ms var(--rounded), 
    border-color 200ms var(--rounded);
  cursor: pointer;
}
.btn-submit {
  background-color: var(--font-color-main);
  border-color: var(--font-color-main);
  padding: 0.5rem 1.5rem;
  color: var(--font-color-tertiary);
  font-size: 1.5rem;
  font-weight: 500;
  transition: background-color 300ms var(--rounded);
}
.btn-submit:hover {
  background-color: var(--font-color-secondary);
  border-color: var(--font-color-secondary);
}
.btn-submit-sm {
  background-color: var(--color-dark);
  border-color: var(--color-dark);
  padding: 0.5rem 1rem;
  color: var(--font-color-main);
  font-weight: 500;
  transition: background-color 300ms var(--rounded);
}
.btn-submit-sm:hover {
  background-color: var(--color-semidark);
  border-color: var(--color-semidark);
}
.btn-reset {
  background-color: var(--color-darkest);
  border-color: var(--color-darkest);
  padding: 0.5rem 1.5rem;
  color: var(--bg-color-secondary);
  font-size: 1.5rem;
  font-weight: 500;
  transition: background-color 300ms var(--rounded);
}
.btn-reset:hover {
  background-color: var(--color-darker);
  border-color: var(--color-darker);
}
.btn-to-top {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  border: 0;
  height: 3.5rem;
  width: 3.5rem;
  z-index: 30;
  background-color: var(--font-color-main);
  font-size: x-large;
  border-radius: 50%;
  transition: background-color 300ms var(--rounded),
    transform 300ms var(--rounded);
}
.btn-to-top a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-color-tertiary);
}
.btn-to-top:hover {
  background-color: var(--font-color-secondary);
}
.btn-to-top-off {
  transform: translate(200%, 0);
}
.btn-cancel {
  padding: 0.3rem;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  aspect-ratio: 1 / 1;
  background-color: transparent;
  border-color: var(--font-color-tertiary);
}
.btn-cancel:hover {
  background-color: var(--font-color-main);
  border-color: var(--font-color-main);
}

/* Loading */
/* Sementara */
.loading-screen {
  display: none;
}

/* .loading-screen {
  position: fixed;
  z-index: 999;
  background-color: var(--color-darkest-half);
  backdrop-filter: blur(80px);
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes hide-loading-screen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.1;
  }
}

@keyframes spinning-burger {
  100% {
    transform: rotate(360deg);
  }
}

.loading-screen-spinning-burger {
  font-size: 6rem;
  font-weight: 700;
  color: var(--color-tertiary);
  animation: spinning-burger 2s infinite linear;
} */

/* Loading */

/* Navbar */
.navbar-wrapper {
  background-color: var(--color-darker-half);
  backdrop-filter: blur(8px);
  padding: 1rem 1rem;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 90;
}
.navbar-content {
  max-height: 75px;
  width: var(--max-width);
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}
.navbar-logo img {
  width: 5.7rem;
  height: auto;
}
.navbar-menu-toggle {
  display: none;
  border: 0;
}
.navbar-list {
  text-transform: uppercase;
  display: flex;
  gap: 2rem;
}
.links {
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: var(--font-color-main);
  transition: color 100ms var(--rounded);
}
.links:hover {
  cursor: pointer;
  background-color: var(--font-color-main);
  color: var(--font-color-tertiary);
  border-radius: 1rem;
}
.navbar-icon {
  cursor: pointer;
  font-size: 1.2rem;
  display: flex;
  column-gap: 2rem;
}
.navbar-icon .fa-solid {
  color: var(--font-color-main);
}
.navbar-icon .fa-solid:hover {
  color: var(--font-color-tertiary);
}
.search-box {
  width: 97%;
  position: absolute;
  top: -100%;
  left: 53%;
  transform: translate(-50%);
  background: var(--bg-color2);
}
.search-box.active {
  top: 110%;
}
.search-box input {
  width: 97%;
  font-size: 16px;
  font-weight: 300;
  outline: none;
  padding: 10px 15px;
  color: var(--bg-color-main);
  border: 2px solid var(--font-color-main);
  border-radius: 0.5rem;
}
.search-box input::placeholder {
  font-size: 16px;
  font-weight: 300;
  color: var(--bg-color-main);
}
/* Navbar */

/* Home */
.home-wrapper {
  width: var(--max-width);
  box-sizing: border-box;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)),
    url("../assets/background.jpg");
  padding: 3rem var(--padding-outer);
  top: 0;
  left: 9%;
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: border-box;
  position: absolute;
}

.home-wrapper::after {
  position: absolute;
  content: "";
  inset: 60% 0 0 0;
  background: linear-gradient(transparent, var(--color-darkest));
}

.home-content {
  width: 43%;
  font-weight: 700;
  padding-inline: var(--padding-outer);
  height: 100vh;
}

.home-title {
  margin: 7rem 0 2rem 0;
  font-size: 3rem;
  color: var(--font-color-main);
}
.home-subtitle {
  font-size: 1.03rem;
  font-weight: 300;
  margin-bottom: 4rem;
  color: var(--color-secondary);
}
.home-btn {
  color: var(--font-color-main);
  border-color: var(--font-color-tertiary);
  padding: 1rem 1.5rem;
  font-weight: 500;
}
.home-btn:hover {
  color: var(--font-color-tertiary);
  background-color: var(--font-color-main);
  border-color: var(--font-color-main);
}
/* Home */

/* MAIN WRAPPER CODE */
.content {
  background-color: var(--color-darkest);
}
/* END OF MAIN WRAPPER CODE */

/* SITE SECTION CODE */
.site-section {
  max-width: var(--max-width);
  margin-inline: auto;
  padding-inline: var(--padding-outer);
  padding-block: 5rem;
}

.site-section-header {
  color: var(--highlight-yellow);
  position: relative;
  font-size: 2.5rem;
  text-decoration: overline;
}

.site-section-paragraph {
  font-size: 1.2rem;
  color: var(--color-tertiary);
}
/* END OF SITE SECTION CODE */

/* SITE SECTION ABOUT CODE */
#about .site-section {
  text-align: start;
  display: flex;
  gap: 3rem;
}

#about .site-section-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  flex-basis: 50%;
}

#about .site-section-detail .site-section-paragraph {
  text-align: justify;
}

#about .site-section-banner {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
}

#about .site-section-figure img {
  width: 100%;
  border-radius: 2rem;
}

#about .site-section-figure figcaption {
  font-size: small;
  font-weight: 700;
  color: var(--color-tertiary);
  text-align: right;
}
/* END SITE SECTION ABOUT CODE */
